* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  position: relative;
  height: 100vh;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
}

.scroll-vid {
  video {
    width: 100%;
    height: 100%;
  }
}

.parallax {
  position: relative;
  z-index: 1;
  .background {
    background: no-repeat center center;
    background-image: url(/media/_MG_4430.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  h1 {
    z-index: 2;
    color: white;
  }
}

.gradient {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  color: white;
  position: relative;
  z-index: 2;
  height: 400px;
}
